# Ignore virtual environment directory
env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore other system files
.DS_Store
*.swp

# Ignore json files and yml
*.yml
*.json
*.editorconfig
*.nycrc
*.eslintrc
# Ignore other sensitive or unnecessary files
*.log
*.sqlite3
